.hero {
    padding-top: 150px;
    padding-bottom: 80px;
    background-color: var(--secondary-color);
    text-align: center;
}

.heroTitle {
    font-size: 48px;
    margin-bottom: 24px;
}

.licenseList {
    display: grid;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.item {
    background: var(--secondary-color);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--border-color);
}

.icon {
    font-size: 32px;
}

.itemTitle {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}