.ctaSection {
    background-color: var(--background);
    padding: 100px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 600px;
}

.title {
    margin-bottom: 24px;
}

.text {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.6;
    color: #b0b5bd;
    font-weight: 300;
}